<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список бронювань</title>
</head>
<body>
<header th:insert="sections/header::header"></header>

<div class="container">
    <h1>Робота з таблицею БРОНЮВАННЯ</h1>

    <!-- Форма для створення нового бронювання -->
    <form action="/reservations/create" method="post">
        <label for="user">Користувач:</label>
        <select id="user" name="userId" required>
            <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.firstName} + ' ' + ${user.lastName}"></option>
        </select>

        <label for="room">Кімната:</label>
        <select id="room" name="roomId" required>
            <option th:each="room : ${rooms}" th:value="${room.id}" th:text="${room.type}"></option>
        </select>

        <label for="checkInDate">Дата заїзду:</label>
        <input type="datetime-local" id="checkInDate" name="checkInDate" required>

        <label for="checkOutDate">Дата виїзду:</label>
        <input type="datetime-local" id="checkOutDate" name="checkOutDate" required>

        <label for="totalPrice">Загальна вартість:</label>
        <input type="number" step="0.01" id="totalPrice" name="totalPrice" required>

        <button type="submit">Додати бронювання</button>
    </form>

    <!-- Таблиця з переліком бронювань -->
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Користувач</th>
            <th>Кімната</th>
            <th>Дата заїзду</th>
            <th>Дата виїзду</th>
            <th>Загальна вартість</th>
            <th>Дії</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reservation : ${reservations}">
            <td th:text="${reservation.id}"></td>
            <td th:text="${reservation.user.firstName} + ' ' + ${reservation.user.lastName}"></td>
            <td th:text="${reservation.room.type}"></td>
            <td th:text="${#dates.format(reservation.checkInDate, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${#dates.format(reservation.checkOutDate, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${reservation.totalPrice}"></td>
            <td>
                <a th:href="@{/reservations/edit/{id}(id=${reservation.id})}">Редагувати</a>
                <form th:action="@{/reservations/delete/{id}(id=${reservation.id})}" method="post" style="display:inline;">
                    <button type="submit">Видалити</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <div>
        <a class="nav-link" href="/admin_page">Назад до сторінки адміністратора</a>
    </div>
</div>

<footer th:insert="sections/footer::footer"></footer>
</body>
</html>
