.main {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.main .div {
    background-color: var(--background);
    width: 1440px;
    height: 3250px;
    position: relative;
}

.main .overlap {
    position: absolute;
    width: 1440px;
    height: 690px;
    top: 0;
    left: 0;
}

.main .backgrnd-header {
    position: absolute;
    width: 1440px;
    height: 630px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.main .text-wrapper {
    position: absolute;
    top: 267px;
    left: 130px;
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
    color: var(--typographywhite);
    font-size: 52px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.main .p {
    position: absolute;
    top: 347px;
    left: 130px;
    font-family: var(--roboto-h2-font-family);
    font-weight: var(--roboto-h2-font-weight);
    color: var(--typographywhite);
    font-size: var(--roboto-h2-font-size);
    letter-spacing: var(--roboto-h2-letter-spacing);
    line-height: var(--roboto-h2-line-height);
    white-space: nowrap;
    font-style: var(--roboto-h2-font-style);
}

.main .search-block {
    position: absolute;
    width: 1180px;
    height: 120px;
    top: 570px;
    left: 130px;
    background-color: var(--primaryblue);
    border-radius: 8px;
}

.main .group {
    position: relative;
    width: 1112px;
    height: 50px;
    top: 35px;
    left: 34px;
}

.main .place-field {
    display: inline-flex;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
}

.main .field-icon {
    display: flex;
    width: 380px;
    height: 50px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 10px;
    position: relative;
    background-color: var(--typographywhite);
    border-radius: 8px;
    border: 1px solid;
    border-color: var(--primarypink);
}

.main .icon-set-for-field {
    position: relative;
    width: 32px;
    height: 32px;
    background-image: url(./img/search.svg);
    background-size: 100% 100%;
}

.main .frame {
    display: flex;
    align-items: center;
    position: relative;
    flex: 1;
    align-self: stretch;
    flex-grow: 1;
}

.main .text-wrapper-2 {
    position: relative;
    width: fit-content;
    font-family: var(--roboto-text-font-family);
    font-weight: var(--roboto-text-font-weight);
    color: var(--typographygrey);
    font-size: var(--roboto-text-font-size);
    letter-spacing: var(--roboto-text-letter-spacing);
    line-height: var(--roboto-text-line-height);
    white-space: nowrap;
    font-style: var(--roboto-text-font-style);
}

.main .calendar-picker {
    display: flex;
    width: 240px;
    height: 50px;
    align-items: center;
    gap: 10px;
    padding: 0px 10px;
    position: absolute;
    top: 0;
    left: 404px;
    background-color: var(--typographywhite);
    border-radius: 8px;
    border: 1px solid;
    border-color: var(--primarypink);
}

.main .hearts {
    position: relative;
    width: 32px;
    height: 32px;
}

.main .button {
    all: unset;
    box-sizing: border-box;
    display: flex;
    width: 180px;
    height: 50px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 932px;
    background-color: var(--primarypink);
    border-radius: 8px;
}

.main .button-2 {
    all: unset;
    box-sizing: border-box;
    position: relative;
    width: fit-content;
    font-family: var(--roboto-button-font-family);
    font-weight: var(--roboto-button-font-weight);
    color: var(--typographywhite);
    font-size: var(--roboto-button-font-size);
    letter-spacing: var(--roboto-button-letter-spacing);
    line-height: var(--roboto-button-line-height);
    white-space: nowrap;
    font-style: var(--roboto-button-font-style);
}

.main .guest-picker {
    display: flex;
    width: 240px;
    height: 50px;
    align-items: center;
    gap: 10px;
    padding: 0px 10px;
    position: absolute;
    top: 0;
    left: 668px;
    background-color: var(--typographywhite);
    border-radius: 8px;
    border: 1px solid;
    border-color: var(--primarypink);
}

.main .icon-set-for-field-2 {
    position: relative;
    width: 32px;
    height: 32px;
    background-image: url(./img/writer-male.png);
    background-size: 100% 100%;
}

.main .expand-arrow {
    position: relative;
    width: 20px;
    height: 20px;
}

.main .HEADER-desktop {
    display: flex;
    width: 1440px;
    height: 120px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 130px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #275271;
}

.main .logo-component-wrapper {
    display: flex;
    flex-direction: column;
    width: 156px;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    position: relative;
}

.main .logo-component {
    position: relative;
    width: 136px;
    height: 31.9px;
}

.main .frame-2 {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    position: relative;
    flex: 0 0 auto;
}

.main .view {
    position: relative;
    width: 40px;
    height: 19px;
}

.main .valute-hover {
    display: flex;
    width: 40px;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    position: relative;
}

.main .defalt-uah {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--roboto-button-font-family);
    font-weight: var(--roboto-button-font-weight);
    color: var(--typographywhite);
    font-size: var(--roboto-button-font-size);
    text-align: center;
    letter-spacing: var(--roboto-button-letter-spacing);
    line-height: var(--roboto-button-line-height);
    white-space: nowrap;
    font-style: var(--roboto-button-font-style);
}

.main .component {
    position: relative;
    width: 32px;
    height: 32px;
    background-image: url(./img/ukraine.png);
    background-size: 100% 100%;
}

.main .button-outline {
    display: flex;
    width: 280px;
    height: 49.85px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    border-radius: 8px;
    border: 2px solid;
    border-color: var(--primarypink);
}

.main .button-3 {
    all: unset;
    box-sizing: border-box;
    position: relative;
    width: fit-content;
    font-family: var(--roboto-button-font-family);
    font-weight: var(--roboto-button-font-weight);
    color: var(--primarypink);
    font-size: var(--roboto-button-font-size);
    letter-spacing: var(--roboto-button-letter-spacing);
    line-height: var(--roboto-button-line-height);
    white-space: nowrap;
    font-style: var(--roboto-button-font-style);
}

.main .button-wrapper {
    all: unset;
    box-sizing: border-box;
    display: flex;
    width: 180px;
    height: 50px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    background-color: var(--primarypink);
    border-radius: 8px;
}

.main .text-wrapper-3 {
    position: absolute;
    width: 544px;
    top: 749px;
    left: 448px;
    font-family: var(--roboto-h2-font-family);
    font-weight: var(--roboto-h2-font-weight);
    color: var(--systemdark-grey);
    font-size: var(--roboto-h2-font-size);
    letter-spacing: var(--roboto-h2-letter-spacing);
    line-height: var(--roboto-h2-line-height);
    white-space: nowrap;
    font-style: var(--roboto-h2-font-style);
}

.main .map {
    position: absolute;
    width: 1180px;
    height: 480px;
    top: 810px;
    left: 130px;
    background-image: url(./img/map-maker-standard.png);
    background-size: 100% 100%;
}

.main .text-wrapper-4 {
    position: absolute;
    width: 490px;
    top: 2429px;
    left: 130px;
    font-family: var(--roboto-h2-font-family);
    font-weight: var(--roboto-h2-font-weight);
    color: var(--typographyblack);
    font-size: var(--roboto-h2-font-size);
    letter-spacing: var(--roboto-h2-letter-spacing);
    line-height: var(--roboto-h2-line-height);
    white-space: nowrap;
    font-style: var(--roboto-h2-font-style);
}

.main .text-wrapper-5 {
    position: absolute;
    width: 428px;
    top: 2469px;
    left: 130px;
    font-family: var(--roboto-text-font-family);
    font-weight: var(--roboto-text-font-weight);
    color: var(--typographyblack);
    font-size: var(--roboto-text-font-size);
    letter-spacing: var(--roboto-text-letter-spacing);
    line-height: var(--roboto-text-line-height);
    white-space: nowrap;
    font-style: var(--roboto-text-font-style);
}

.main .newsletter {
    position: absolute;
    width: 1182px;
    height: 290px;
    top: 2080px;
    left: 130px;
}

.main .overlap-group {
    position: relative;
    width: 1180px;
    height: 290px;
    background-image: url(./img/rectangle-27.png);
    background-size: 100% 100%;
}

.main .text-wrapper-6 {
    position: absolute;
    width: 453px;
    top: 65px;
    left: 100px;
    font-family: var(--roboto-h2-font-family);
    font-weight: var(--roboto-h2-font-weight);
    color: var(--typographywhite);
    font-size: var(--roboto-h2-font-size);
    letter-spacing: var(--roboto-h2-letter-spacing);
    line-height: var(--roboto-h2-line-height);
    font-style: var(--roboto-h2-font-style);
}

.main .button-blue {
    display: flex;
    width: 280px;
    height: 48px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 121px;
    left: 782px;
    background-color: var(--primaryblue);
    border-radius: 8px;
}

.main .view-2 {
    position: absolute;
    width: 1244px;
    height: 300px;
    top: 1350px;
    left: 100px;
}

.main .text-wrapper-7 {
    position: absolute;
    width: 385px;
    top: 40px;
    left: 30px;
    font-family: var(--roboto-text-font-family);
    font-weight: var(--roboto-text-font-weight);
    color: var(--typographyblack);
    font-size: var(--roboto-text-font-size);
    letter-spacing: var(--roboto-text-letter-spacing);
    line-height: var(--roboto-text-line-height);
    white-space: nowrap;
    font-style: var(--roboto-text-font-style);
}

.main .text-wrapper-8 {
    position: absolute;
    width: 221px;
    top: 0;
    left: 30px;
    font-family: var(--roboto-h2-font-family);
    font-weight: var(--roboto-h2-font-weight);
    color: var(--typographyblack);
    font-size: var(--roboto-h2-font-size);
    letter-spacing: var(--roboto-h2-letter-spacing);
    line-height: var(--roboto-h2-line-height);
    white-space: nowrap;
    font-style: var(--roboto-h2-font-style);
}

.main .overlap-group-wrapper {
    position: absolute;
    width: 1240px;
    height: 210px;
    top: 90px;
    left: 0;
}

.main .overlap-group-2 {
    position: relative;
    height: 210px;
}

.main .frame-3 {
    position: absolute;
    width: 1180px;
    height: 210px;
    top: 0;
    left: 30px;
    overflow: hidden;
}

.main .frame-4 {
    display: flex;
    flex-direction: column;
    width: 180px;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
}

.main .component-2 {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 160px;
    border-radius: 8px;
    background-image: url(./img/picture-6.png);
    background-size: cover;
    background-position: 50% 50%;
}

.main .text-city {
    display: flex;
    flex-direction: column;
    height: 50px;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    align-self: stretch;
    width: 100%;
}

.main .text-wrapper-9 {
    position: relative;
    width: fit-content;
    font-family: var(--roboto-subhead-2-font-family);
    font-weight: var(--roboto-subhead-2-font-weight);
    color: var(--typographyblack);
    font-size: var(--roboto-subhead-2-font-size);
    text-align: center;
    letter-spacing: var(--roboto-subhead-2-letter-spacing);
    line-height: var(--roboto-subhead-2-line-height);
    white-space: nowrap;
    font-style: var(--roboto-subhead-2-font-style);
}

.main .text-wrapper-10 {
    font-family: var(--roboto-small-text-font-family);
    font-weight: var(--roboto-small-text-font-weight);
    position: relative;
    width: fit-content;
    color: var(--secondarydark-blue);
    font-size: var(--roboto-small-text-font-size);
    text-align: center;
    letter-spacing: var(--roboto-small-text-letter-spacing);
    line-height: var(--roboto-small-text-line-height);
    white-space: nowrap;
    font-style: var(--roboto-small-text-font-style);
}

.main .frame-5 {
    display: flex;
    flex-direction: column;
    width: 180px;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 1200px;
}

.main .picture-wrapper {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 160px;
    border-radius: 8px;
    overflow: hidden;
}

.main .picture {
    left: 997px;
    position: absolute;
    width: 180px;
    height: 160px;
    top: -928px;
    object-fit: cover;
}

.main .frame-6 {
    display: flex;
    flex-direction: column;
    width: 180px;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 600px;
}

.main .component-3 {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 160px;
    border-radius: 8px;
    background-image: url(./img/picture-7.png);
    background-size: cover;
    background-position: 50% 50%;
}

.main .frame-7 {
    display: flex;
    flex-direction: column;
    width: 180px;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 1800px;
}

.main .img {
    left: 397px;
    position: absolute;
    width: 180px;
    height: 160px;
    top: -928px;
    object-fit: cover;
}

.main .frame-8 {
    display: flex;
    flex-direction: column;
    width: 180px;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 200px;
}

.main .component-4 {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 160px;
    border-radius: 8px;
    background-image: url(./img/picture-4.png);
    background-size: cover;
    background-position: 50% 50%;
}

.main .frame-9 {
    display: flex;
    flex-direction: column;
    width: 180px;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 1400px;
}

.main .picture-2 {
    left: 797px;
    position: absolute;
    width: 180px;
    height: 160px;
    top: -928px;
    object-fit: cover;
}

.main .frame-10 {
    display: flex;
    flex-direction: column;
    width: 180px;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 400px;
}

.main .component-5 {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 160px;
    border-radius: 8px;
    background-image: url(./img/picture-10.png);
    background-size: cover;
    background-position: 50% 50%;
}

.main .frame-11 {
    display: flex;
    flex-direction: column;
    width: 180px;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 1600px;
}

.main .picture-3 {
    left: 597px;
    position: absolute;
    width: 180px;
    height: 160px;
    top: -928px;
    object-fit: cover;
}

.main .frame-12 {
    display: flex;
    flex-direction: column;
    width: 180px;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 800px;
}

.main .component-6 {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 160px;
    border-radius: 8px;
    background-image: url(./img/picture-8.png);
    background-size: cover;
    background-position: 50% 50%;
}

.main .frame-13 {
    display: flex;
    flex-direction: column;
    width: 180px;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 2000px;
}

.main .picture-4 {
    left: 197px;
    position: absolute;
    width: 180px;
    height: 160px;
    top: -928px;
    object-fit: cover;
}

.main .frame-14 {
    display: flex;
    flex-direction: column;
    width: 180px;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 1000px;
}

.main .component-7 {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 160px;
    border-radius: 8px;
    background-image: url(./img/picture-9.png);
    background-size: cover;
    background-position: 50% 50%;
}

.main .frame-15 {
    display: flex;
    flex-direction: column;
    width: 180px;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 2200px;
}

.main .component-8 {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 160px;
    margin-top: -928px;
    margin-left: -3px;
    border-radius: 8px;
    background-image: url(./img/picture.png);
    background-size: cover;
    background-position: 50% 50%;
}

.main .arrows {
    width: 1240px;
    height: 60px;
    top: 50px;
    position: absolute;
    left: 0;
}

.main .arrow {
    top: 0;
    left: -4px;
    position: absolute;
    width: 68px;
    height: 68px;
}

.main .arrow-2 {
    top: 0;
    left: 1176px;
    position: absolute;
    width: 68px;
    height: 68px;
}

.main .text-wrapper-11 {
    position: absolute;
    width: 387px;
    top: 1749px;
    left: 130px;
    font-family: var(--roboto-text-font-family);
    font-weight: var(--roboto-text-font-weight);
    color: var(--typographyblack);
    font-size: var(--roboto-text-font-size);
    letter-spacing: var(--roboto-text-letter-spacing);
    line-height: var(--roboto-text-line-height);
    white-space: nowrap;
    font-style: var(--roboto-text-font-style);
}

.main .text-wrapper-12 {
    position: absolute;
    width: 554px;
    top: 1709px;
    left: 130px;
    font-family: var(--roboto-h2-font-family);
    font-weight: var(--roboto-h2-font-weight);
    color: var(--typographyblack);
    font-size: var(--roboto-h2-font-size);
    letter-spacing: var(--roboto-h2-letter-spacing);
    line-height: var(--roboto-h2-line-height);
    white-space: nowrap;
    font-style: var(--roboto-h2-font-style);
}

.main .overlap-wrapper {
    position: absolute;
    width: 1240px;
    height: 220px;
    top: 1800px;
    left: 100px;
}

.main .overlap-2 {
    position: relative;
    height: 220px;
}

.main .frame-16 {
    position: absolute;
    width: 1180px;
    height: 220px;
    top: 0;
    left: 30px;
    overflow: hidden;
}

.main .view-3 {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 220px;
    align-items: flex-start;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 0;
}

.main .photo-directions {
    position: absolute;
    width: 380px;
    height: 220px;
    top: 0;
    left: 0;
    background-image: url(./img/rectangle-104-3.png);
    background-size: cover;
    background-position: 50% 50%;
}

.main .div-wrapper {
    display: flex;
    width: 380px;
    height: 40px;
    align-items: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    border-radius: 0px 0px 8px 8px;
}

.main .text-wrapper-13 {
    position: relative;
    width: fit-content;
    margin-top: -5px;
    margin-bottom: -3px;
    font-family: var(--roboto-subhead-font-family);
    font-weight: var(--roboto-subhead-font-weight);
    color: var(--typographywhite);
    font-size: var(--roboto-subhead-font-size);
    letter-spacing: var(--roboto-subhead-letter-spacing);
    line-height: var(--roboto-subhead-line-height);
    white-space: nowrap;
    font-style: var(--roboto-subhead-font-style);
}

.main .view-4 {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 220px;
    align-items: flex-start;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 1200px;
}

.main .rectangle-wrapper {
    height: 220px;
    overflow: hidden;
    position: absolute;
    width: 380px;
    top: 0;
    left: 0;
}

.main .rectangle {
    position: absolute;
    width: 380px;
    height: 220px;
    top: -1288px;
    left: 997px;
    object-fit: cover;
}

.main .frame-17 {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 220px;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 400px;
}


/*.text-wrapper-6 {*/
/*    color: white; !* Колір тексту *!*/
/*    font-size: 18px; !* Розмір шрифту *!*/
/*    margin-bottom: 15px; !* Відступ під текстом *!*/
/*}*/

/*.button-blue .button-2 {*/
/*    padding: 10px 20px; !* Внутрішні відступи кнопки *!*/
/*    background-color: #007bff; !* Синій фон для кнопки *!*/
/*    color: white; !* Колір тексту кнопки *!*/
/*    border: none; !* Прибираємо рамку *!*/
/*    cursor: pointer; !* Вказівник курсору при наведенні *!*/
/*    border-radius: 5px; !* Закруглені краї кнопки *!*/
/*    font-size: 16px; !* Розмір шрифту *!*/
/*}*/


.main .photo-directions-2 {
    position: absolute;
    width: 380px;
    height: 220px;
    top: 0;
    left: 0;
    background-image: url(./img/rectangle-104-2.png);
    background-size: cover;
    background-position: 50% 50%;
}

.main .frame-18 {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 220px;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 1600px;
}

.main .rectangle-2 {
    height: 220px;
    top: -1288px;
    left: 597px;
    position: absolute;
    width: 380px;
    object-fit: cover;
}

.main .frame-19 {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 220px;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 800px;
}

.main .photo-directions-3 {
    position: absolute;
    width: 380px;
    height: 220px;
    top: 0;
    left: 0;
    background-image: url(./img/rectangle-104-8.png);
    background-size: cover;
    background-position: 50% 50%;
}

.main .frame-20 {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 220px;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 2000px;
}

.main .rectangle-3 {
    height: 220px;
    top: -1288px;
    left: 197px;
    position: absolute;
    width: 380px;
    object-fit: cover;
}

.main .arrows-2 {
    width: 1240px;
    height: 60px;
    top: 80px;
    position: absolute;
    left: 0;
}

.main .view-5 {
    position: absolute;
    width: 1244px;
    height: 330px;
    top: 2520px;
    left: 98px;
}

.main .overlap-3 {
    position: relative;
    height: 330px;
}

.main .frame-21 {
    position: absolute;
    width: 1180px;
    height: 330px;
    top: 0;
    left: 32px;
    overflow: hidden;
}

.main .hotel-block {
    position: absolute;
    width: 380px;
    height: 330px;
    top: 0;
    left: 0;
    background-color: var(--typographywhite);
    border-radius: 8px;
    box-shadow: var(--shadow);
}

.main .frame-22 {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 100px;
    align-items: flex-start;
    gap: 4px;
    padding: 10px 20px;
    position: absolute;
    top: 230px;
    left: 0;
}

.main .frame-23 {
    display: inline-flex;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
    margin-right: -8px;
}

.main .text-wrapper-14 {
    position: relative;
    width: 316px;
    font-family: var(--roboto-subhead-2-font-family);
    font-weight: var(--roboto-subhead-2-font-weight);
    color: var(--typographyblack);
    font-size: var(--roboto-subhead-2-font-size);
    letter-spacing: var(--roboto-subhead-2-letter-spacing);
    line-height: var(--roboto-subhead-2-line-height);
    font-style: var(--roboto-subhead-2-font-style);
}

.main .hearts-2 {
    background-image: url(./img/heart-3.png);
    background-size: 100% 100%;
    position: relative;
    width: 32px;
    height: 32px;
}

.main .text-wrapper-15 {
    position: relative;
    align-self: stretch;
    font-family: var(--roboto-small-text-font-family);
    font-weight: var(--roboto-small-text-font-weight);
    color: var(--typographyblack);
    font-size: var(--roboto-small-text-font-size);
    letter-spacing: var(--roboto-small-text-letter-spacing);
    line-height: var(--roboto-small-text-line-height);
    font-style: var(--roboto-small-text-font-style);
}

.main .frame-24 {
    display: flex;
    align-items: flex-end;
    gap: 4px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.main .group-2 {
    position: relative;
    width: 75px;
    height: 15px;
}

.main .star {
    top: 0;
    left: 60px;
    background-image: url(./img/star-22.png);
    background-size: 100% 100%;
    position: absolute;
    width: 15px;
    height: 15px;
}

.main .star-2 {
    top: 0;
    left: 0;
    background-image: url(./img/star-19.png);
    background-size: 100% 100%;
    position: absolute;
    width: 15px;
    height: 15px;
}

.main .star-3 {
    top: 0;
    left: 15px;
    background-image: url(./img/star-25.png);
    background-size: 100% 100%;
    position: absolute;
    width: 15px;
    height: 15px;
}

.main .star-4 {
    top: 0;
    left: 30px;
    background-image: url(./img/star-12.png);
    background-size: 100% 100%;
    position: absolute;
    width: 15px;
    height: 15px;
}

.main .star-5 {
    top: 0;
    left: 45px;
    background-image: url(./img/star-20.png);
    background-size: 100% 100%;
    position: absolute;
    width: 15px;
    height: 15px;
}

.main .text-wrapper-16 {
    position: relative;
    width: fit-content;
    font-family: var(--roboto-small-text-font-family);
    font-weight: var(--roboto-small-text-font-weight);
    color: var(--primaryblue);
    font-size: var(--roboto-small-text-font-size);
    letter-spacing: var(--roboto-small-text-letter-spacing);
    line-height: var(--roboto-small-text-line-height);
    white-space: nowrap;
    font-style: var(--roboto-small-text-font-style);
}

.main .photo-directions-4 {
    height: 230px;
    background-image: url(./img/rectangle-104-11.png);
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    width: 380px;
    top: 0;
    left: 0;
}

.main .hotel-block-2 {
    left: 1200px;
    position: absolute;
    width: 380px;
    height: 330px;
    top: 0;
    background-color: var(--typographywhite);
    border-radius: 8px;
    box-shadow: var(--shadow);
}

.main .heart {
    left: 661px;
    position: absolute;
    width: 32px;
    height: 32px;
    top: -2248px;
}

.main .star-wrapper {
    top: 0;
    left: 60px;
    position: absolute;
    width: 15px;
    height: 15px;
}

.main .star-6 {
    top: -2302px;
    left: 917px;
    position: absolute;
    width: 15px;
    height: 15px;
}

.main .img-wrapper {
    top: 0;
    left: 0;
    position: absolute;
    width: 15px;
    height: 15px;
}

.main .star-7 {
    top: -2302px;
    left: 977px;
    position: absolute;
    width: 15px;
    height: 15px;
}

.main .star-8 {
    top: 0;
    left: 15px;
    position: absolute;
    width: 15px;
    height: 15px;
}

.main .star-9 {
    top: -2302px;
    left: 962px;
    position: absolute;
    width: 15px;
    height: 15px;
}

.main .star-10 {
    top: 0;
    left: 30px;
    position: absolute;
    width: 15px;
    height: 15px;
}

.main .star-11 {
    top: -2302px;
    left: 947px;
    position: absolute;
    width: 15px;
    height: 15px;
}

.main .star-12 {
    top: 0;
    left: 45px;
    position: absolute;
    width: 15px;
    height: 15px;
}

.main .star-13 {
    top: -2302px;
    left: 932px;
    position: absolute;
    width: 15px;
    height: 15px;
}

.main .photo-directions-5 {
    height: 230px;
    overflow: hidden;
    position: absolute;
    width: 380px;
    top: 0;
    left: 0;
}

.main .rectangle-4 {
    height: 230px;
    top: -2008px;
    left: 997px;
    position: absolute;
    width: 380px;
    object-fit: cover;
}

.main .hotel-block-3 {
    left: 400px;
    position: absolute;
    width: 380px;
    height: 330px;
    top: 0;
    background-color: var(--typographywhite);
    border-radius: 8px;
    box-shadow: var(--shadow);
}

.main .hearts-3 {
    background-image: url(./img/heart-5.png);
    background-size: 100% 100%;
    position: relative;
    width: 32px;
    height: 32px;
}

.main .star-14 {
    top: 0;
    left: 60px;
    background-image: url(./img/star-8.png);
    background-size: 100% 100%;
    position: absolute;
    width: 15px;
    height: 15px;
}

.main .star-15 {
    top: 0;
    left: 0;
    background-image: url(./img/star-13.png);
    background-size: 100% 100%;
    position: absolute;
    width: 15px;
    height: 15px;
}

.main .star-16 {
    top: 0;
    left: 15px;
    background-image: url(./img/star-7.png);
    background-size: 100% 100%;
    position: absolute;
    width: 15px;
    height: 15px;
}

.main .star-17 {
    top: 0;
    left: 30px;
    background-image: url(./img/star-23.png);
    background-size: 100% 100%;
    position: absolute;
    width: 15px;
    height: 15px;
}

.main .star-18 {
    top: 0;
    left: 45px;
    background-image: url(./img/star-21.png);
    background-size: 100% 100%;
    position: absolute;
    width: 15px;
    height: 15px;
}

.main .photo-directions-6 {
    height: 230px;
    background-image: url(./img/rectangle-104-9.png);
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    width: 380px;
    top: 0;
    left: 0;
}

.main .hotel-block-4 {
    left: 1600px;
    position: absolute;
    width: 380px;
    height: 330px;
    top: 0;
    background-color: var(--typographywhite);
    border-radius: 8px;
    box-shadow: var(--shadow);
}

.main .heart-2 {
    left: 261px;
    position: absolute;
    width: 32px;
    height: 32px;
    top: -2248px;
}

.main .star-19 {
    top: -2302px;
    left: 517px;
    position: absolute;
    width: 15px;
    height: 15px;
}

.main .star-20 {
    top: -2302px;
    left: 577px;
    position: absolute;
    width: 15px;
    height: 15px;
}

.main .star-21 {
    top: -2302px;
    left: 562px;
    position: absolute;
    width: 15px;
    height: 15px;
}

.main .star-22 {
    top: -2302px;
    left: 547px;
    position: absolute;
    width: 15px;
    height: 15px;
}

.main .star-23 {
    top: -2302px;
    left: 532px;
    position: absolute;
    width: 15px;
    height: 15px;
}

.main .rectangle-5 {
    height: 230px;
    top: -2008px;
    left: 597px;
    position: absolute;
    width: 380px;
    object-fit: cover;
}

.main .hotel-block-5 {
    left: 800px;
    position: absolute;
    width: 380px;
    height: 330px;
    top: 0;
    background-color: var(--typographywhite);
    border-radius: 8px;
    box-shadow: var(--shadow);
}

.main .hearts-4 {
    background-image: url(./img/heart.png);
    background-size: 100% 100%;
    position: relative;
    width: 32px;
    height: 32px;
}

.main .star-24 {
    top: 0;
    left: 60px;
    background-image: url(./img/star-27.png);
    background-size: 100% 100%;
    position: absolute;
    width: 15px;
    height: 15px;
}

.main .star-25 {
    top: 0;
    left: 0;
    background-image: url(./img/star-10.png);
    background-size: 100% 100%;
    position: absolute;
    width: 15px;
    height: 15px;
}

.main .star-26 {
    top: 0;
    left: 15px;
    background-image: url(./img/star-24.png);
    background-size: 100% 100%;
    position: absolute;
    width: 15px;
    height: 15px;
}

.main .star-27 {
    top: 0;
    left: 30px;
    background-image: url(./img/star-28.png);
    background-size: 100% 100%;
    position: absolute;
    width: 15px;
    height: 15px;
}

.main .star-28 {
    top: 0;
    left: 45px;
    background-image: url(./img/star-26.png);
    background-size: 100% 100%;
    position: absolute;
    width: 15px;
    height: 15px;
}

.main .photo-directions-7 {
    height: 230px;
    background-image: url(./img/rectangle-104-7.png);
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    width: 380px;
    top: 0;
    left: 0;
}

.main .hotel-block-6 {
    left: 2000px;
    position: absolute;
    width: 380px;
    height: 330px;
    top: 0;
    background-color: var(--typographywhite);
    border-radius: 8px;
    box-shadow: var(--shadow);
}

.main .hearts-5 {
    margin-top: -2248px;
    background-image: url(./img/heart-6.png);
    background-size: 100% 100%;
    position: relative;
    width: 32px;
    height: 32px;
}

.main .star-29 {
    top: -2302px;
    left: 117px;
    position: absolute;
    width: 15px;
    height: 15px;
}

.main .star-30 {
    top: -2302px;
    left: 177px;
    position: absolute;
    width: 15px;
    height: 15px;
}

.main .star-31 {
    top: -2302px;
    left: 162px;
    position: absolute;
    width: 15px;
    height: 15px;
}

.main .star-32 {
    top: -2302px;
    left: 147px;
    position: absolute;
    width: 15px;
    height: 15px;
}

.main .star-33 {
    top: -2302px;
    left: 132px;
    position: absolute;
    width: 15px;
    height: 15px;
}

.main .rectangle-6 {
    height: 230px;
    top: -2008px;
    left: 197px;
    position: absolute;
    width: 380px;
    object-fit: cover;
}

.main .arrows-3 {
    width: 1244px;
    height: 72px;
    top: 110px;
    position: absolute;
    left: 0;
}

.main .arrow-3 {
    top: 12px;
    left: 1180px;
    position: absolute;
    width: 68px;
    height: 68px;
}

.main .FOOTER-desktop {
    width: 1440px;
    height: 280px;
    top: 2970px;
    background-color: var(--secondarydark-blue);
    position: absolute;
    left: 0;
}

.main .group-3 {
    position: relative;
    width: 1180px;
    height: 200px;
    top: 40px;
    left: 130px;
}

.main .footer {
    display: flex;
    width: 1180px;
    height: 101px;
    align-items: flex-start;
    justify-content: space-between;
    top: 0;
    background-color: transparent;
    position: absolute;
    left: 0;
}

.main .view-6 {
    display: flex;
    flex-direction: column;
    width: 108px;
    align-items: flex-start;
    gap: 10px;
    position: relative;
}

.main .text-wrapper-17 {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: var(--roboto-subhead-2-font-family);
    font-weight: var(--roboto-subhead-2-font-weight);
    color: var(--typographywhite);
    font-size: var(--roboto-subhead-2-font-size);
    letter-spacing: var(--roboto-subhead-2-letter-spacing);
    line-height: var(--roboto-subhead-2-line-height);
    font-style: var(--roboto-subhead-2-font-style);
}

.main .text-wrapper-18 {
    position: relative;
    align-self: stretch;
    font-family: var(--roboto-text-font-family);
    font-weight: var(--roboto-text-font-weight);
    color: var(--typographywhite);
    font-size: var(--roboto-text-font-size);
    letter-spacing: var(--roboto-text-letter-spacing);
    line-height: var(--roboto-text-line-height);
    font-style: var(--roboto-text-font-style);
}

.main .view-7 {
    display: flex;
    flex-direction: column;
    width: 188px;
    align-items: flex-start;
    gap: 10px;
    position: relative;
}

.main .frame-25 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.main .text-wrapper-19 {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: var(--roboto-text-font-family);
    font-weight: var(--roboto-text-font-weight);
    color: var(--typographywhite);
    font-size: var(--roboto-text-font-size);
    letter-spacing: var(--roboto-text-letter-spacing);
    line-height: var(--roboto-text-line-height);
    font-style: var(--roboto-text-font-style);
}

.main .view-8 {
    display: flex;
    flex-direction: column;
    width: 194px;
    align-items: flex-start;
    gap: 10px;
    position: relative;
}

.main .view-9 {
    display: flex;
    flex-direction: column;
    width: 184px;
    align-items: flex-start;
    gap: 10px;
    position: relative;
}

.main .social-icon-footer {
    display: inline-flex;
    align-items: center;
    gap: 22px;
    position: relative;
    flex: 0 0 auto;
}

.main .img-2 {
    position: relative;
    width: 52px;
    height: 52px;
}

.main .text-wrapper-20 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--roboto-button-font-family);
    font-weight: var(--roboto-button-font-weight);
    color: var(--typographywhite);
    font-size: var(--roboto-button-font-size);
    letter-spacing: var(--roboto-button-letter-spacing);
    line-height: var(--roboto-button-line-height);
    white-space: nowrap;
    font-style: var(--roboto-button-font-style);
}

.main .line {
    position: absolute;
    width: 701px;
    height: 3px;
    top: 141px;
    left: 239px;
    object-fit: cover;
}

.main .frame-26 {
    display: flex;
    width: 152px;
    height: 24px;
    align-items: flex-end;
    gap: 19px;
    position: absolute;
    top: 176px;
    left: 514px;
}

.main .logo-component-2 {
    position: relative;
    width: 103px;
    height: 24px;
}

.main .text-wrapper-21 {
    position: relative;
    width: fit-content;
    margin-right: -108.04px;
    font-family: var(--roboto-small-text-font-family);
    font-weight: var(--roboto-small-text-font-weight);
    color: var(--typographywhite);
    font-size: var(--roboto-small-text-font-size);
    letter-spacing: var(--roboto-small-text-letter-spacing);
    line-height: var(--roboto-small-text-line-height);
    white-space: nowrap;
    font-style: var(--roboto-small-text-font-style);
}