<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редагувати зображення</title>
</head>
<body>

<header th:insert="~{sections/header::header}"></header>

<div>
    <h1>Редагувати зображення</h1>
</div>

<form th:action="@{/images/edit/{id}(id=${image.id})}" method="post" enctype="multipart/form-data">

    <label for="url">URL зображення:</label>
    <input type="text" id="url" name="url" th:value="${image.url}" required>

    <label for="photoBytes">Файл зображення:</label>
    <input type="file" id="photoBytes" name="photoBytes">

    <!-- Відображення поточного зображення -->
    <div>
        <img th:if="${image.photoBytes != null}" th:src="@{/images/photo/{id}(id=${image.id})}" alt="Фото" width="100">
        <img th:if="${image.photoBytes == null}" th:src="${image.url}" alt="Фото" width="100">
    </div>

    <label for="hotel_id">Готель ID:</label>
    <input type="number" id="hotel_id" name="hotel_id" th:value="${image.hotel != null ? image.hotel.id : ''}" required>

    <label for="room_id">Кімната ID:</label>
    <input type="number" id="room_id" name="room_id" th:value="${image.room != null ? image.room.id : ''}">

    <button type="submit">Зберегти</button>
</form>

<div>
    <a href="/images/image_list">Назад до списку зображень</a>
</div>

<footer th:insert="~{sections/footer::footer}"></footer>

</body>
</html>
