<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="/style/5_Business_form/Business_form(add_hotel_styleguide).css" />
    <link rel="stylesheet" href="/style/5_Business_form/Business_form(add_hotel).css" />
    <link rel="stylesheet" href="/img/5_Business_form" />
</head>
<body>
<div class="business-form">
    <div class="div">
        <div class="overlap-group">
            <div class="overlap">
                <div class="frame">
                    <p class="text-wrapper">Додайте інформацію про помешкання (опис або додаткову інформацію)</p>
                </div>
                <div class="text-wrapper-2">Максимальна к-ть символів (5000)</div>
            </div>
            <p class="p">Як буде називатися Ваш об’єкт?</p>
            <p class="div-2"><span class="span">Виберіть тип об’єкта </span> <span class="text-wrapper-3">*</span></p>
            <div class="field-with-label">
                <div class="label-wrapper">
                    <p class="label">
                        <span class="text-wrapper-4">Назва (заголовок) </span> <span class="text-wrapper-5">*</span>
                    </p>
                </div>
                <div class="field-label">
                    <div class="input-label-wrapper"><div class="input-label">прикл. Назва вашого помешкання</div></div>
                </div>
            </div>
            <div class="typ-hotel">
                <div class="image-typhotel"></div>
                <div class="text-wrapper-6">Апартаменти</div>
                <p class="text-wrapper-7">Варіант розміщення з кухнею та меблями</p>
            </div>
            <div class="typ-hotel-2">
                <div class="image-typhotel-2"></div>
                <div class="text-wrapper-6">Будинок</div>
                <div class="text-wrapper-7">Апартаменти/квартири або будинки цілком</div>
            </div>
            <div class="typ-hotel-3">
                <div class="image-typhotel-3"></div>
                <div class="text-wrapper-6">Готель</div>
                <div class="text-wrapper-7">Готелі, хостели, міні-готелі</div>
            </div>
            <div class="typ-hotel-4">
                <div class="image-typhotel-4"></div>
                <div class="text-wrapper-6">Апартаменти</div>
                <div class="text-wrapper-7">Кемпінги, шатри, глемпінг</div>
            </div>
            <img class="line" src="img/line-8.svg" />
            <div class="group">
                <p class="text-wrapper-8">Де знаходиться Ваш об’єкт власності?</p>
                <div class="field-with-label-2">
                    <div class="label-wrapper">
                        <p class="label"><span class="text-wrapper-4">Країна </span> <span class="text-wrapper-5">*</span></p>
                    </div>
                    <div class="field-label">
                        <div class="input-label-wrapper"><div class="input-label">напр. Україна</div></div>
                    </div>
                </div>
                <div class="field-with-label-3">
                    <div class="label-wrapper">
                        <p class="label"><span class="text-wrapper-4">Місто </span> <span class="text-wrapper-5">*</span></p>
                    </div>
                    <div class="field-label">
                        <div class="input-label-wrapper"><div class="input-label">напр. Київ</div></div>
                    </div>
                </div>
                <div class="field-with-label-4">
                    <div class="label-wrapper">
                        <p class="label">
                            <span class="text-wrapper-4">Вулиця та номер будинку </span> <span class="text-wrapper-5">*</span>
                        </p>
                    </div>
                    <div class="field-label">
                        <div class="input-label-wrapper"><p class="input-label">напр. вул. Вячеслава Лепинського 4Б</p></div>
                    </div>
                </div>
                <div class="field-with-label-5">
                    <div class="label-wrapper"><p class="label-2">Додаткова інформація (Номер квартири, поверх)</p></div>
                    <div class="field-label">
                        <div class="input-label-wrapper"><div class="input-label">напр. 2 поверх</div></div>
                    </div>
                </div>
                <img class="img" src="img/line-9.svg" />
                <p class="text-wrapper-9">Введіть фактичну адресу вашого помешкання</p>
                <div class="view">
                    <div class="div-wrapper">
                        <p class="div-3">
                            <span class="text-wrapper-4">Зазначте місцерозташування об’єкта на мапі </span>
                            <span class="text-wrapper-5">*</span>
                        </p>
                    </div>
                    <img class="map-maker-standard" src="img/map-maker-standard.png" />
                    <div class="frame-2">
                        <img class="address" src="img/address.svg" />
                        <p class="text-wrapper-10">вул. Вячеслава Лепинського 4Б, Київ, 02000, Україна</p>
                    </div>
                </div>
            </div>
            <div class="view-2">
                <img class="line-2" src="img/line-11.svg" />
                <div class="text-wrapper-11">Зручності на вашому об’єкті</div>
                <div class="frame-3">
                    <img class="info" src="img/info-2.svg" />
                    <p class="text-wrapper-12">Представлені найбільш популярні, пізніше зможете додати більше зручностей</p>
                </div>
                <div class="frame-4">
                    <div class="checkbox-with-text">
                        <div class="checkbox"></div>
                        <div class="text-wrapper-13">Паркінг</div>
                    </div>
                    <div class="checkbox-with-text">
                        <div class="checkbox"></div>
                        <div class="text-wrapper-13">Wi-Fi</div>
                    </div>
                    <div class="checkbox-with-text">
                        <div class="checkbox"></div>
                        <div class="text-wrapper-13">Обслугов номерів</div>
                    </div>
                    <div class="checkbox-with-text">
                        <div class="checkbox"></div>
                        <div class="text-wrapper-13">Тварини</div>
                    </div>
                    <div class="checkbox-with-text">
                        <div class="checkbox"></div>
                        <div class="text-wrapper-13">Номери для некурців</div>
                    </div>
                </div>
                <div class="frame-5">
                    <div class="checkbox-with-text">
                        <div class="checkbox"></div>
                        <div class="text-wrapper-13">З немовлям</div>
                    </div>
                    <div class="checkbox-with-text">
                        <div class="checkbox"></div>
                        <div class="text-wrapper-13">Басейн</div>
                    </div>
                    <div class="checkbox-with-text">
                        <div class="checkbox"></div>
                        <div class="text-wrapper-13">Ресторан</div>
                    </div>
                    <div class="checkbox-with-text">
                        <div class="checkbox"></div>
                        <p class="text-wrapper-14">Зручності для гостей з обмеженими фізичними можливостями</p>
                    </div>
                </div>
                <div class="text-wrapper-15">Зазначте зручності в номері?</div>
                <p class="text-wrapper-16">Зазначте загальні зручності на об’єкті</p>
                <div class="frame-6">
                    <div class="checkbox-with-text">
                        <div class="checkbox"></div>
                        <div class="text-wrapper-13">Телевізор</div>
                    </div>
                    <div class="checkbox-with-text">
                        <div class="checkbox"></div>
                        <div class="text-wrapper-13">Міні-холодильник</div>
                    </div>
                    <div class="checkbox-with-text">
                        <div class="checkbox"></div>
                        <div class="text-wrapper-13">Кондиціонер</div>
                    </div>
                    <div class="checkbox-with-text">
                        <div class="checkbox"></div>
                        <div class="text-wrapper-13">Балкон</div>
                    </div>
                    <div class="checkbox-with-text">
                        <div class="checkbox"></div>
                        <div class="text-wrapper-13">Душ</div>
                    </div>
                </div>
                <div class="frame-7">
                    <div class="checkbox-with-text">
                        <div class="checkbox"></div>
                        <div class="text-wrapper-13">Міні-кухня</div>
                    </div>
                    <div class="checkbox-with-text">
                        <div class="checkbox"></div>
                        <div class="text-wrapper-13">Вид з вікна</div>
                    </div>
                    <div class="checkbox-with-text">
                        <div class="checkbox"></div>
                        <div class="text-wrapper-13">Кавоварка-чайник</div>
                    </div>
                    <div class="checkbox-with-text">
                        <div class="checkbox"></div>
                        <div class="text-wrapper-14">Терасса</div>
                    </div>
                </div>
            </div>
            <div class="view-3">
                <p class="div-4">
                    <span class="span">Оцініть вартість помешкання </span> <span class="text-wrapper-3">*</span>
                </p>
                <div class="text-wrapper-17">UAH</div>
                <div class="text-wrapper-18">Ціна для гостей</div>
                <p class="text-wrapper-19">З урахуванням податку, комісії та зборів</p>
                <div class="rectangle"></div>
                <img class="line-3" src="img/line-12.svg" />
            </div>
            <img class="line-4" src="img/line-13.svg" />
            <p class="text-wrapper-20">Додайте фотографії та опис об’єкта</p>
            <div class="frame-8">
                <img class="info-2" src="img/image.svg" />
                <p class="text-wrapper-21">Додайте хоча б одну фотографію, пізніше можете додати більше</p>
            </div>
            <div class="text-wrapper-22">Опишіть своє помешкання</div>
            <div class="text-wrapper-23">Додайте фотографії</div>
            <div class="overlap-2">
                <p class="element">
                    <span class="text-wrapper-24">Завантажено </span>
                    <span class="text-wrapper-25">0</span>
                    <span class="text-wrapper-24"> фотографій</span>
                </p>
                <div class="component">
                    <div class="frame-9">
                        <img class="picture" src="img/picture.png" />
                        <div class="frame-10">
                            <div class="text-wrapper-26">Перетягніть фотографію в поле</div>
                            <div class="text-wrapper-7">або</div>
                            <button class="button"><button class="button-2">Вибрати файл</button></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="frame-11">
                <img class="info-3" src="img/info.svg" />
                <p class="text-wrapper-27">
                    Ви можете змінити або додати інформацію в особистому кабінеті (вкладка Для бізнесу) після завешення
                    реєстрації
                </p>
            </div>
            <div class="button-blue"><button class="button-2">Зареєструвати помешкання</button></div>
            <p class="div-5">
                <span class="text-wrapper-5">*</span>
                <span class="text-wrapper-28">&nbsp;</span>
                <span class="text-wrapper-24">Обов’язкове поле для заповнення</span>
            </p>
        </div>
        <div class="FOOTER-desktop">
            <div class="group-2">
                <footer class="footer">
                    <div class="view-4">
                        <div class="text-wrapper-29">Про нас</div>
                        <div class="text-wrapper-30">Про компанію</div>
                    </div>
                    <div class="view-5">
                        <div class="text-wrapper-29">Тех. підтримка</div>
                        <div class="frame-12">
                            <div class="text-wrapper-31">Найпопулярніші питання</div>
                            <div class="text-wrapper-30">+380 97 255 220</div>
                            <div class="text-wrapper-30">Arrenvi@gmail.com</div>
                        </div>
                    </div>
                    <div class="view-6">
                        <div class="text-wrapper-29">Для бізнесу</div>
                        <div class="text-wrapper-30">Зареєструвати мешкання</div>
                    </div>
                    <div class="view-7">
                        <div class="text-wrapper-29">Ми в соц мережах:</div>
                        <div class="social-icon-footer">
                            <img class="img-2" src="img/instagram.svg" /> <img class="img-2" src="img/facebook.svg" />
                        </div>
                    </div>
                    <div class="text-wrapper-32">Версія для мобільних пристроїв</div>
                </footer>
                <img class="line-5" src="img/line-1.svg" />
                <div class="frame-13">
                    <img class="logo-component" src="img/logo-component-2.svg" />
                    <div class="text-wrapper-33">Всі права захищені 2024</div>
                </div>
            </div>
        </div>
        <div class="HEADER-desktop">
            <div class="logo-component-wrapper"><img class="logo-component-2" src="img/logo-component.svg" /></div>
            <div class="frame-14">
                <div class="valute-hover-wrapper">
                    <div class="valute-hover"><div class="defalt-uah">UAH</div></div>
                </div>
                <img class="ukraine" src="img/ukraine.svg" />
                <div class="button-outline"><button class="button-3">Зареєструвати своє помешкання</button></div>
                <button class="button-wrapper"><button class="button-2">Увійти</button></button>
            </div>
        </div>
        <div class="text-wrapper-34">Реєстрація помешкання</div>
        <p class="text-wrapper-35">Додайте своє помешкання і готуйтесь приймати нових гостей</p>
    </div>
</div>
</body>
</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Додати свое помешкання</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .navbar {
            background-color: #003580;
            color: white;
        }
        .navbar-brand {
            color: #fff;
            font-size: 1.5em;
            font-weight: bold;
            margin-left: 200px;
        }
        .navbar-nav .nav-link {
            color: #fff;
            font-size: 1em;
            margin-right: 15px;
        }
        .auth-buttons {
            display: flex;
            align-items: center;
            margin-right: 200px;

        }
        .auth-buttons .btn-light {
            background-color: white;
            border: none;
            border-radius: 4px;
            font-size: 1em;
            padding: 5px 10px;
            cursor: pointer;
        }
        .dropdown-menu {
            background-color: white;
            color: black;
            border: none;
            max-width: 250px;
            max-height: 300px;
            overflow-y: auto;
            white-space: nowrap;
        }
        .dropdown-menu a {
            color: black;
            background-color: white;
        }
        .dropdown-menu a:hover {
            background-color: #9a9998;
            color: black;
        }


        .container {
            display: flex;
            justify-content: space-around;
            margin-top: 50px;
        }

        .housing-type {
            border: 1px solid #ccc;
            padding: 20px;
            text-align: center;
            width: 300px;
        }
        .housing-type button {
            margin-top: 10px;
            padding: 10px;
        }
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Arrenvi.com</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/languages">Мова <span th:text="${session.language}"></span></a>
                    </li>
                    <div class="auth-buttons">
                        <div class="dropdown">
                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                 <span th:text="${session.userName}"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="hotels_by_partner">Переглянути мої помешкання</a></li>
                                <li><a class="dropdown-item" href="add_hotels.html">Додати нове помешкання</a></li>
                                <li><a class="dropdown-item" href="/partners/logout">Вийти</a></li>
                            </ul>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
</header>
<h1>Додайте своє помешкання на Arrenvi.com і готуйтеся приймати гостей</h1>
<div class="container">

<div class="housing-type">
    <h2>Апартаменти</h2>
    <p>Помешкання з меблями і кухнею, яке гості бронюють цілком</p>
    <button onclick="showForm('apartment')">Зареєструвати свое помешкання</button>
</div>

<div class="housing-type">
    <h2>Будинки</h2>
    <p>Апартаменти, будинки для відпочинку, вілли та ін.</p>
    <button onclick="showForm('house')">Зареєструвати свое помешкання</button>
</div>

<div class="housing-type">
    <h2>Готель або готель типу "ліжко та сніданок"</h2>
    <p>Помешкання, як от готелі, готелі типу "ліжко та сніданок", хостели, апарт-готелі тощо </p>
    <button onclick="showForm('hotel')">Зареєструвати свое помешкання</button>
</div>

<div class="housing-type">
    <h2>Альтернативні помешкання</h2>
    <p>Ботелі, кемпінги, намети-люкс та ін.</p>
    <button onclick="showForm('alternative')">Зареєструвати свое помешкання</button>
</div>
</div>

<form id="registration-form" style="display:none;" action="/partners/add" method="post">
    <h2>Реєстрація помешкання</h2>
    <input type="hidden" id="housing-type" name="housingType">
    <label for="name">Назва:</label>
    <input type="text" id="name" name="name" required><br><br>

    <label for="description">Опис:</label>
    <textarea id="description" name="description" required></textarea><br><br>

    <label for="address">Адресса:</label>
    <input type="text" id="address" name="address" required><br><br>

    <label for="latitude">Широта:</label>
    <input type="number" id="latitude" name="latitude" step="0.000001"><br><br>

    <label for="longitude">Довгота:</label>
    <input type="number" id="longitude" name="longitude" step="0.000001"><br><br>

    <label for="owner">Власник( незаповнюється)</label>
    <input type="hidden" id="owner" name="owner" value="1"><br><br>

    <button type="submit">Зареєструвати</button>
</form>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<script>
    function showForm(type) {
        document.getElementById('housing-type').value = type;
        document.getElementById('registration-form').style.display = 'block';
    }
</script>

</body>
</html>