<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arrenvi.com - Домашня сторінка</title>
    <link rel="stylesheet" href="/style.home/home_styleguide.css" />
    <link rel="stylesheet" href="/style.home/home.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .map {
            width: 100%;
            height: 300px;
        }
    </style>
    <script>
        // Створення карти в елементі з класом 'map'
        var map = L.map('map').setView([48.3794, 31.1656], 6); // Координати для центра України

        // Додавання тайлів карти
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
    </script>
</head>
<body>
<header th:insert="sections/header::header"></header>
<div class="main">
    <div class="div">
        <div class="overlap">
            <img class="backgrnd-header" src="/images/backgr_header.jpg" />
            <p class="p">Найкращі готелі, апартаменти та хостели... і не тільки</p>
            <div class="text-wrapper">Подорожуй з комфортом</div>

            <div class="search-block">
                <div class="group">
                    <div class="place-field">
                        <div class="field-icon">
                            <div class="icon-set-for-field"></div>
                            <div class="frame"><div class="text-wrapper-2">Куди вирушаєте?</div></div>
                        </div>
                    </div>
                    <div class="calendar-picker">
                        <img class="hearts" src="img/tear-off-calendar.svg" />
                        <div class="frame"><div class="text-wrapper-2">Коли вирушаєте?</div></div>
                    </div>
                    <button class="button"><button class="button-2">Шукати</button></button>
                    <div class="guest-picker">
                        <div class="icon-set-for-field-2"></div>
                        <div class="frame"><div class="text-wrapper-2">Кількість гостей</div></div>
                        <img class="expand-arrow" src="img/expand-arrow.svg" />
                    </div>
                </div>
            </div>
        </div>
        <p class="text-wrapper-3">Або виберіть помешкання на мапі</p>
            <div id="map" class="map"></div>

        <div class="text-wrapper-4">Найпопулярніші готелі України</div>
        <p class="text-wrapper-5">Забронюйте наші найпопулярніші унікальні помешкання</p>

        <div class="newsletter">
            <div class="overlap-group" style="position: relative; display: inline-block;">
                <img src="/images/newsletter.jpg" style="width: 100%; height: auto;" />
                <p class="text-wrapper-6">
                    Залишайтеся в курсі нових місць для відпочинку
                </p>
                <div class="button-blue">
                    <button class="button-2">Підписатися на newsletter</button>
                </div>
            </div>
        </div>
<!--        -->
<!--        -->
<!--        <div class="newsletter">-->
<!--            <div class="overlap-group">-->
<!--                <p class="text-wrapper-6">Залишайтеся в курсі нових місць для відпочинку</p>-->
<!--                <div class="button-blue"><button class="button-2">Підписатися на newsletter</button></div>-->
<!--            </div>-->
<!--        </div>-->


        <div class="view-2">
            <p class="text-wrapper-7">Виберіть у якому місті України ви хочете відпочити</p>
            <div class="text-wrapper-8">Міста України</div>
            <div class="first_carusel">
                <div id="cityCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators (якщо потрібні) -->
                    <ol class="carousel-indicators">
                        <li th:each="city, stat : ${cities}" data-target="#cityCarousel" th:data-slide-to="${stat.index}" th:classappend="${stat.index == 0} ? 'active' : ''"></li>
                    </ol>

                    <div class="carousel-inner">
                        <!-- Кожне місто -->
                        <div th:each="city, stat : ${cities}" th:classappend="${stat.index == 0} ? 'carousel-item active' : 'carousel-item'">
                            <!-- Перевірка наявності зображення у вигляді байтів -->
                            <img th:if="${city.photoBytes != null}" th:src="@{/cities/photo/{id}(id=${city.id})}" class="d-block w-100" alt="Фото міста" style="height: 750px;">
                            <!-- Якщо немає байтів зображення, показати за посиланням -->
                            <img th:if="${city.photoBytes == null}" th:src="${city.photoUrl}" class="d-block w-100" alt="Фото міста" style="height: auto;">

                            <div class="carousel-caption d-none d-md-block">
                                <h5 th:text="${city.name}"></h5>
                                <p th:text="${city.region}"></p>
                            </div>
                        </div>

                    </div>

                    <!-- Кнопки для перемикання слайдів -->
                    <a class="carousel-control-prev" href="#cityCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Попередній</span>
                    </a>
                    <a class="carousel-control-next" href="#cityCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Наступний</span>
                    </a>
                </div>
                <div class="second_carousel">
                    <p class="text-wrapper-11">Спробуйте найпопулярніші напрямки для подорожі</p>
                    <div class="text-wrapper-12">Популярні напрямки для подорожі</div>

                    <div id="multiItemCarousel" class="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div th:each="city, stat : ${cities}" th:if="${stat.index < 3}" class="col-4">
                                        <img th:src="@{/cities/photo/{id}(id=${city.id})}" class="d-block w-100" alt="Фото міста" style="width: 250px; height: 200px">
                                        <div class="carousel-caption d-none d-md-block">
                                            <h5 th:text="${city.name}"></h5>
                                            <p th:text="${city.region}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Кнопки для перемикання слайдів -->
                        <a class="carousel-control-prev slider-button" href="#" role="button">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Попередній</span>
                        </a>
                        <a class="carousel-control-next slider-button" href="#" role="button">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Наступний</span>
                        </a>
                    </div>
                </div>

            </div>
<!--            <div class="overlap-group-wrapper">-->
<!--                <div class="overlap-group-2">-->
<!--                    <div class="frame-3">-->
<!--                        <div class="frame-4">-->
<!--                            <div class="component-2"></div>-->
<!--                            <div class="text-city">-->
<!--                                <div class="text-wrapper-9">Львів</div>-->
<!--                                <div class="text-wrapper-10">(318 помешкань)</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="frame-5">-->
<!--                            <div class="picture-wrapper"><img class="picture" src="img/picture-2.png" /></div>-->
<!--                            <div class="text-city">-->
<!--                                <div class="text-wrapper-9">Львів</div>-->
<!--                                <div class="text-wrapper-10">(318 помешкань)</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="frame-6">-->
<!--                            <div class="component-3"></div>-->
<!--                            <div class="text-city">-->
<!--                                <div class="text-wrapper-9">Харків</div>-->
<!--                                <div class="text-wrapper-10">(48 помешкань)</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="frame-7">-->
<!--                            <div class="picture-wrapper"><img class="img" src="img/picture-3.png" /></div>-->
<!--                            <div class="text-city">-->
<!--                                <div class="text-wrapper-9">Харків</div>-->
<!--                                <div class="text-wrapper-10">(48 помешкань)</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="frame-8">-->
<!--                            <div class="component-4"></div>-->
<!--                            <div class="text-city">-->
<!--                                <div class="text-wrapper-9">Дніпро</div>-->
<!--                                <div class="text-wrapper-10">(46 помешкань)</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="frame-9">-->
<!--                            <div class="picture-wrapper"><img class="picture-2" src="img/picture-5.png" /></div>-->
<!--                            <div class="text-city">-->
<!--                                <div class="text-wrapper-9">Дніпро</div>-->
<!--                                <div class="text-wrapper-10">(46 помешкань)</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="frame-10">-->
<!--                            <div class="component-5"></div>-->
<!--                            <div class="text-city">-->
<!--                                <div class="text-wrapper-9">Буковель</div>-->
<!--                                <div class="text-wrapper-10">(456 помешкань)</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="frame-11">-->
<!--                            <div class="picture-wrapper"><img class="picture-3" src="img/picture-11.png" /></div>-->
<!--                            <div class="text-city">-->
<!--                                <div class="text-wrapper-9">Буковель</div>-->
<!--                                <div class="text-wrapper-10">(456 помешкань)</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="frame-12">-->
<!--                            <div class="component-6"></div>-->
<!--                            <div class="text-city">-->
<!--                                <div class="text-wrapper-9">Київ</div>-->
<!--                                <div class="text-wrapper-10">(462 помешкань)</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="frame-13">-->
<!--                            <div class="picture-wrapper"><img class="picture-4" src="img/picture-12.png" /></div>-->
<!--                            <div class="text-city">-->
<!--                                <div class="text-wrapper-9">Київ</div>-->
<!--                                <div class="text-wrapper-10">(462 помешкань)</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="frame-14">-->
<!--                            <div class="component-7"></div>-->
<!--                            <div class="text-city">-->
<!--                                <div class="text-wrapper-9">Одеса</div>-->
<!--                                <div class="text-wrapper-10">(125 помешкань)</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="frame-15">-->
<!--                            <div class="component-8"></div>-->
<!--                            <div class="text-city">-->
<!--                                <div class="text-wrapper-9">Одеса</div>-->
<!--                                <div class="text-wrapper-10">(125 помешкань)</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="arrows">-->
<!--                        <img class="arrow" src="img/arrow-2.svg" /> <img class="arrow-2" src="img/arrow-5.svg" />-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
        <h2 class="text-wrapper-11" th:text="${welcomeMessage}"></h2>

        <!-- Admin Page Link -->
        <div th:if="${session.currentUser != null and session.currentUser.email == 'okobilska@gmail.com'}">
            <a class="nav-link" href="/admin_page">Сторінка адміністратора</a>
        </div>

        <div class="text-wrapper-12">Популярні напрямки для подорожі</div>
        <div class="overlap-wrapper">



            <!--            <div class="overlap-2">-->
<!--                <div class="frame-16">-->
<!--                    <div class="view-3">-->
<!--                        <div class="photo-directions"></div>-->
<!--                        <div class="div-wrapper"><div class="text-wrapper-13">Львів</div></div>-->
<!--                    </div>-->
<!--                    <div class="view-4">-->
<!--                        <div class="rectangle-wrapper"><img class="rectangle" src="img/rectangle-104-6.png" /></div>-->
<!--                        <div class="div-wrapper"><div class="text-wrapper-13">Львів</div></div>-->
<!--                    </div>-->


<!--                    <div class="frame-17">-->
<!--                        <div class="photo-directions-2"></div>-->
<!--                        <div class="div-wrapper"><div class="text-wrapper-13">Закарпаття</div></div>-->
<!--                    </div>-->
<!--                    <div class="frame-18">-->
<!--                        <div class="rectangle-wrapper"><img class="rectangle-2" src="img/rectangle-104-12.png" /></div>-->
<!--                        <div class="div-wrapper"><div class="text-wrapper-13">Закарпаття</div></div>-->
<!--                    </div>-->
<!--                    <div class="frame-19">-->
<!--                        <div class="photo-directions-3"></div>-->
<!--                        <div class="div-wrapper"><div class="text-wrapper-13">Одеса</div></div>-->
<!--                    </div>-->
<!--                    <div class="frame-20">-->
<!--                        <div class="rectangle-wrapper"><img class="rectangle-3" src="img/rectangle-104-7.png" /></div>-->
<!--                        <div class="div-wrapper"><div class="text-wrapper-13">Одеса</div></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="arrows-2">-->
<!--                    <img class="arrow" src="img/arrow-4.svg" /> <img class="arrow-2" src="img/image.svg" />-->
<!--                </div>-->
<!--            </div>-->
        </div>
<!--        <div class="view-5">-->
<!--            <div class="overlap-3">-->
<!--                <div class="frame-21">-->
<!--                    <div class="hotel-block">-->
<!--                        <div class="frame-22">-->
<!--                            <div class="frame-23">-->
<!--                                <div class="text-wrapper-14">Готель Отрада</div>-->
<!--                                <div class="hearts-2"></div>-->
<!--                            </div>-->
<!--                            <div class="text-wrapper-15">Одеса, Україна</div>-->
<!--                            <div class="frame-24">-->
<!--                                <div class="group-2">-->
<!--                                    <div class="star"></div>-->
<!--                                    <div class="star-2"></div>-->
<!--                                    <div class="star-3"></div>-->
<!--                                    <div class="star-4"></div>-->
<!--                                    <div class="star-5"></div>-->
<!--                                </div>-->
<!--                                <div class="text-wrapper-16">(311 відгуків)</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="photo-directions-4"></div>-->
<!--                    </div>-->
<!--                    <div class="hotel-block-2">-->
<!--                        <div class="frame-22">-->
<!--                            <div class="frame-23">-->
<!--                                <div class="text-wrapper-14">Готель Отрада</div>-->
<!--                                <div class="hearts"><img class="heart" src="img/heart-4.png" /></div>-->
<!--                            </div>-->
<!--                            <div class="text-wrapper-15">Одеса, Україна</div>-->
<!--                            <div class="frame-24">-->
<!--                                <div class="group-2">-->
<!--                                    <div class="star-wrapper"><img class="star-6" src="img/star-4.png" /></div>-->
<!--                                    <div class="img-wrapper"><img class="star-7" src="img/star-17.png" /></div>-->
<!--                                    <div class="star-8"><img class="star-9" src="img/star-14.png" /></div>-->
<!--                                    <div class="star-10"><img class="star-11" src="img/star-2.png" /></div>-->
<!--                                    <div class="star-12"><img class="star-13" src="img/star.png" /></div>-->
<!--                                </div>-->
<!--                                <div class="text-wrapper-16">(311 відгуків)</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="photo-directions-5"><img class="rectangle-4" src="img/rectangle-104-5.png" /></div>-->
<!--                    </div>-->
<!--                    <div class="hotel-block-3">-->
<!--                        <div class="frame-22">-->
<!--                            <div class="frame-23">-->
<!--                                <div class="text-wrapper-14">Київ Vogue Апартаменти</div>-->
<!--                                <div class="hearts-3"></div>-->
<!--                            </div>-->
<!--                            <div class="text-wrapper-15">Київ, Україна</div>-->
<!--                            <div class="frame-24">-->
<!--                                <div class="group-2">-->
<!--                                    <div class="star-14"></div>-->
<!--                                    <div class="star-15"></div>-->
<!--                                    <div class="star-16"></div>-->
<!--                                    <div class="star-17"></div>-->
<!--                                    <div class="star-18"></div>-->
<!--                                </div>-->
<!--                                <div class="text-wrapper-16">(31 відгук)</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="photo-directions-6"></div>-->
<!--                    </div>-->
<!--                    <div class="hotel-block-4">-->
<!--                        <div class="frame-22">-->
<!--                            <div class="frame-23">-->
<!--                                <div class="text-wrapper-14">Київ Vogue Апартаменти</div>-->
<!--                                <div class="hearts"><img class="heart-2" src="img/heart-2.png" /></div>-->
<!--                            </div>-->
<!--                            <div class="text-wrapper-15">Київ, Україна</div>-->
<!--                            <div class="frame-24">-->
<!--                                <div class="group-2">-->
<!--                                    <div class="star-wrapper"><img class="star-19" src="img/star-9.png" /></div>-->
<!--                                    <div class="img-wrapper"><img class="star-20" src="img/star-28.png" /></div>-->
<!--                                    <div class="star-8"><img class="star-21" src="img/star-18.png" /></div>-->
<!--                                    <div class="star-10"><img class="star-22" src="img/star-16.png" /></div>-->
<!--                                    <div class="star-12"><img class="star-23" src="img/star-15.png" /></div>-->
<!--                                </div>-->
<!--                                <div class="text-wrapper-16">(31 відгук)</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="photo-directions-5"><img class="rectangle-5" src="img/rectangle-104.png" /></div>-->
<!--                    </div>-->
<!--                    <div class="hotel-block-5">-->
<!--                        <div class="frame-22">-->
<!--                            <div class="frame-23">-->
<!--                                <div class="text-wrapper-14">готель Буковель</div>-->
<!--                                <div class="hearts-4"></div>-->
<!--                            </div>-->
<!--                            <div class="text-wrapper-15">Буковель, Україна</div>-->
<!--                            <div class="frame-24">-->
<!--                                <div class="group-2">-->
<!--                                    <div class="star-24"></div>-->
<!--                                    <div class="star-25"></div>-->
<!--                                    <div class="star-26"></div>-->
<!--                                    <div class="star-27"></div>-->
<!--                                    <div class="star-28"></div>-->
<!--                                </div>-->
<!--                                <div class="text-wrapper-16">(311 відгуків)</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="photo-directions-7"></div>-->
<!--                    </div>-->
<!--                    <div class="hotel-block-6">-->
<!--                        <div class="frame-22">-->
<!--                            <div class="frame-23">-->
<!--                                <div class="text-wrapper-14">Шале 2 сезони Буковель</div>-->
<!--                                <div class="hearts-5"></div>-->
<!--                            </div>-->
<!--                            <div class="text-wrapper-15">Буковель, Україна</div>-->
<!--                            <div class="frame-24">-->
<!--                                <div class="group-2">-->
<!--                                    <div class="star-wrapper"><img class="star-29" src="img/star-11.png" /></div>-->
<!--                                    <div class="img-wrapper"><img class="star-30" src="img/star-6.png" /></div>-->
<!--                                    <div class="star-8"><img class="star-31" src="img/image.png" /></div>-->
<!--                                    <div class="star-10"><img class="star-32" src="img/star-5.png" /></div>-->
<!--                                    <div class="star-12"><img class="star-33" src="img/star-3.png" /></div>-->
<!--                                </div>-->
<!--                                <div class="text-wrapper-16">(311 відгуків)</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="photo-directions-5"><img class="rectangle-6" src="img/rectangle-104-11.png" /></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="arrows-3">-->
<!--                    <img class="arrow" src="img/arrow.svg" /> <img class="arrow-3" src="img/arrow-3.svg" />-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

    </div>
</div>
<!--для каруселі МІСТА -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<script>
    // Створення карти в елементі з ID 'map'
    var map = L.map('map').setView([48.3794, 31.1656], 6); // Координати для центра України

    // Додавання тайлів карти
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    document.addEventListener("DOMContentLoaded", function() {
        const btnPrev = document.querySelector(".carousel-control-prev");
        const btnNext = document.querySelector(".carousel-control-next");
        const items = document.querySelectorAll(".carousel-item");
        const itemsPerView = 3; // Кількість міст на екрані
        let currentIndex = 0;

        function showImages(startIndex) {
            items.forEach(item => item.classList.remove("active"));
            // Очищаємо "active" у всіх елементах
            for (let i = 0; i < itemsPerView; i++) {
                let index = (startIndex + i) % items.length; // Прокручування по кругу
                items[index].classList.add("active");
            }
        }

        function prevImage() {
            currentIndex--;
            if (currentIndex < 0) {
                currentIndex = items.length - 1;
            }
            showImages(currentIndex);
        }

        function nextImage() {
            currentIndex++;
            if (currentIndex >= items.length) {
                currentIndex = 0;
            }
            showImages(currentIndex);
        }

        // Спочатку показуємо перші три міста
        showImages(currentIndex);

        // Обробники подій для кнопок
        btnPrev.addEventListener("click", prevImage);
        btnNext.addEventListener("click", nextImage);
    });

</script>
<div class="FOOTER-desktop">
    <div class="group-3">
        <footer class="footer">

            <div class="view-6">
                <div class="text-wrapper-17">Про нас</div>
                <div class="text-wrapper-18">Про компанію</div>
            </div>
            <div class="view-7">
                <div class="text-wrapper-17">Тех. підтримка</div>
                <div class="frame-25">
                    <div class="text-wrapper-19">Найпопулярніші питання</div>
                    <div class="text-wrapper-18">+380 97 255 220</div>
                    <div class="text-wrapper-18">Arrenvi@gmail.com</div>
                </div>
            </div>
            <div class="view-8">
                <div class="text-wrapper-17">Для бізнесу</div>
                <div class="text-wrapper-18">Зареєструвати мешкання</div>
            </div>
            <div class="view-9">
                <div class="text-wrapper-17">Ми в соц мережах:</div>
                <div class="social-icon-footer">
                    <img class="img-2" src="img/instagram.svg" /> <img class="img-2" src="img/facebook.svg" />
                </div>
            </div>
            <div class="text-wrapper-20">Версія для мобільних пристроїв</div>
        </footer>
        <img class="line" src="img/line-1.svg" />
        <div class="frame-26">
            <img class="logo-component-2" src="img/logo-component-2.svg" />
            <div class="text-wrapper-21">Всі права захищені 2024</div>
        </div>
    </div>
</div>



</body>
</html>