<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arrenvi.com - Домашня сторінка</title>
    <link rel="stylesheet" href="/style.home/home_styleguide.css" />
    <link rel="stylesheet" href="/style.home/home.css" />
    <link rel="stylesheet" href="/style.footer/footer.css">
<!--    <link rel="stylesheet" href="/style.header/header.css">-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>
<body>
<!--<header th:insert="sections/header::header" style="background-color: #275271;"></header>-->
<!--<header th:insert="~{sections/header::header}" style="background-color: #275271;"></header>-->
<div class="container-fluid" style="background-color: #275271;">
    <div class="navbar-top d-flex justify-content-between align-items-center">
        <!-- Логотип зліва -->
        <div class="frame">
            <a class="nav-link" href="/"><img class="logo-component" src="/images/logo1.png" alt="Arrenvi Logo" /></a>
        </div>
        <!-- Посилання праворуч -->
        <ul class="navbar-nav d-flex flex-row align-items-center justify-content-end" style="gap: 20px;">
            <li>
                <!-- Випадаючий список для вибору валюти -->
                <form action="#" method="post">
                    <select name="currency" class="dropdown">
                        <option value="UAH">Гривня</option>
                        <option value="USD">Долар</option>
                        <option value="EUR">Євро</option>
                    </select>
                    <button type="submit" class="btn-select">Валюта</button>
                </form>
            </li>
            <li>
                <!-- Випадаючий список для вибору мови -->
                <form method="post">
                    <select name="language" class="dropdown">
                        <option value="uk">Українська</option>
                        <option value="en">English</option>
                        <option value="fr">Français</option>
                    </select>
                    <button type="submit" class="btn-select">Мова</button>
                </form>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home_partners">Зареєструвати своє помешкання</a>
            </li>
            <li class="nav-item" th:if="${session.currentUser != null}">
                <a class="nav-link" href="/user_account">Кабінет користувача</a>
            </li>
            <li class="nav-item" th:if="${session.currentUser == null}">
                <a class="nav-link btn-action" href="/login">Вхід</a>
            </li>
            <li class="nav-item" th:if="${session.currentUser == null}">
                <a class="nav-link btn-action" href="/registration">Реєстрація</a>
            </li>
            <li class="nav-item" th:if="${session.currentUser != null}">
                <form action="/logout" method="get">
                    <button type="submit" class="btn-logout">Вихід</button>
                </form>
            </li>
        </ul>
    </div>
</div>

<div class="overlap">
    <img class="backgrnd-header" src="/images/backgr_header.jpg" />
    <div class="text-container">
        <h2 style="color: #f0f0f0">Подорожуй з комфортом</h2>
        <p style="color: #f0f0f0">Найкращі готелі, апартаменти та хостели... і не тільки</p>
    </div>
    <div class="search-block">
        <form action="/search" method="POST">
            <div class="place-field">
                <div class="field-icon">
                    <select name="city" id="city">
                        <option value="">Куди вирушаєте?</option>
                        <option th:each="city : ${cities}" th:value="${city.id}" th:text="${city.name} + ', ' + ${city.region}"></option>
                    </select>
                </div>
            </div>
            <div class="calendar-picker">
                <label for="date" style="color: #f0f0f0;">Коли вирушаєте?</label>
                <input type="date" id="date" name="date">
            </div>
            <div class="guest-picker">
                <label for="guests" style="color: #f0f0f0;">Кількість гостей</label>
                <input type="number" id="guests" name="guests" min="1" value="1">
            </div>
            <button type="submit" class="button-2">Шукати</button>
        </form>
    </div>
</div>

<h2 style="margin-top: 50px">Або виберіть помешкання на мапі</h2>
<div id="map" class="map" style="margin-top: 20px"></div>
<h2 class="" th:text="${welcomeMessage}"></h2>

<h2>Міста України</h2>
<p>Виберіть, у якому місті України ви хочете відпочити</p>
<div class="carousel-container">
    <button class="carousel-btn prev" onclick="prevSlide()">&#10094;</button>
    <div class="carousel-track">
        <div class="carousel-item" th:each="city : ${cities}" style="display: inline-block;">
            <a th:href="@{/sort_hotels_by_city/{cityId}(cityId=${city.id})}">
                <img th:src="@{/cities/photo/{id}(id=${city.id})}" alt="Фото міста" class="city-photo">
            </a>
            <div class="city-info">
                <h3 th:text="${city.name}"></h3>
                <p th:text="${city.region}"></p>
            </div>
        </div>

    </div>
    <button class="carousel-btn next" onclick="nextSlide()">&#10095;</button>
</div>

<div class="newsletter">
    <div class="overlap-group">
        <img src="/images/newsletter.jpg" style="width: 100%; height: auto;" />
        <p class="text-wrapper-6">
            Залишайтеся в курсі нових місць для відпочинку
        </p>
        <div class="button-blue" style="margin-top: -70px">
            <button class="button-2">Підписатися на newsletter</button>
        </div>
    </div>
</div>
<!-- Admin Page Link -->
<div th:if="${session.currentUser != null and session.currentUser.email == 'okobilska@gmail.com'}">
    <a class="nav-link" style="color: #5c00e6;" href="/admin_page">Сторінка адміністратора</a>
</div>

<h2>Спробуйте найпопулярніші напрямки для подорожі</h2>
<p>Популярні напрямки для подорожі</p>

<h2>Найпопулярніші готелі України</h2>
<p>Забронюйте наші найпопулярніші унікальні помешкання</p>

<script>
    // Створення карти в елементі з ID 'map'
    var map = L.map('map').setView([48.3794, 31.1656], 6); // Координати для центра України

    // Додавання тайлів карти
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
</script>
<script>
    // для каруселі
    let currentIndex = 0;
    const cities = document.querySelectorAll('.carousel-item');
    const totalCities = cities.length;
    const visibleCities = 5;

    function showSlides() {
        cities.forEach(city => {
            city.style.display = 'none';
        });

        for (let i = 0; i < visibleCities; i++) {
            let index = (currentIndex + i) % totalCities;
            cities[index].style.display = 'inline-block';
        }
    }

    function nextSlide() {
        currentIndex = (currentIndex + 1) % totalCities;
        showSlides();
    }

    function prevSlide() {
        currentIndex = (currentIndex - 1 + totalCities) % totalCities;
        showSlides();
    }

    showSlides();
</script>
<!--<footer th:insert="sections/footer::footer" style="background-color: #275271;"></footer>-->
<!--<footer th:insert="~{sections/footer::footer}" style="background-color: #275271;"></footer>-->
<div class="footer">
    <div class="view">
        <div class="text-wrapper">Про нас</div>
        <a class="div-wrapper" href="/about_us"><div class="div">Про компанію</div></a>
    </div>
    <div class="view-2">
        <div class="text-wrapper">Тех. підтримка</div>
        <div class="frame">
            <a class="div-wrapper" href="/support"><div class="div">Найпопулярніші питання</div></a>
            <div class="text-wrapper-2">+380 97 255 220</div>
            <div class="text-wrapper-2">Arrenvi@gmail.com</div>
        </div>
    </div>
    <div class="view-3">
        <div class="text-wrapper">Для бізнесу</div>
        <div class="div-wrapper"><div class="div">Зареєструвати помешкання</div></div>
    </div>
    <div class="view-4">
        <div class="text-wrapper">Ми в соц мережах:</div>
        <div class="social-icon-footer">
            <img class="img" src="/images/instagram.png" />
            <img class="img" src="/images/facebook.png" />
        </div>
    </div>
    <div class="text-wrapper-3">Версія для мобільних пристроїв</div>
</div>
<div class="frame-2">
    <img class="logo-component" src="/images/logo1.png" />
    <div class="text-wrapper-5">Всі права захищені 2024</div>
</div>
</body>
</html>
