<nav th:fragment="footer" class="navbar navbar-expand-lg navbar-light">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="globals.css" />
<!--        <link rel="stylesheet" href="/style.footer/footer_styleguide.css" />-->
<!--        <link rel="stylesheet" href="/style.footer/footer.css" />-->
        <link rel="stylesheet" href="/style.home/home_styleguide.css" />
        <link rel="stylesheet" href="/style.home/home.css" />
        <title>Arrenvi.com - Домашня сторінка</title>

    </head>

    <div class="FOOTER-desktop">
        <div class="group-3">
            <footer class="footer">
                <div class="view-6">
                    <div class="text-wrapper-17">Про нас</div>
                    <div class="text-wrapper-18">Про компанію</div>
                </div>
                <div class="view-7">
                    <div class="text-wrapper-17">Тех. підтримка</div>
                    <div class="frame-25">
                        <div class="text-wrapper-19">Найпопулярніші питання</div>
                        <div class="text-wrapper-18">+380 97 255 220</div>
                        <div class="text-wrapper-18">Arrenvi@gmail.com</div>
                    </div>
                </div>
                <div class="view-8">
                    <div class="text-wrapper-17">Для бізнесу</div>
                    <div class="text-wrapper-18">Зареєструвати мешкання</div>
                </div>
                <div class="view-9">
                    <div class="text-wrapper-17">Ми в соц мережах:</div>
                    <div class="social-icon-footer">
                        <img class="img-2" src="img/instagram.svg" /> <img class="img-2" src="img/facebook.svg" />
                    </div>
                </div>
                <div class="text-wrapper-20">Версія для мобільних пристроїв</div>
            </footer>
            <img class="line" src="img/line-1.svg" />
            <div class="frame-26">
                <img class="logo-component-2" src="img/logo-component-2.svg" />
                <div class="text-wrapper-21">Всі права захищені 2024</div>
            </div>
        </div>
    </div>
</nav>