<nav th:fragment="footer" class="navbar navbar-expand-lg navbar-light">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--        <link rel="stylesheet" href="globals.css" />-->
<!--        <link rel="stylesheet" href="/style.footer/footer_styleguide.css" />-->
<!--        <link rel="stylesheet" href="/style.footer/footer.css" />-->
        <link rel="stylesheet" href="/style.footer/footer_styleguide.css" />
        <link rel="stylesheet" href="/style.footer/footer.css" />
        <title>Arrenvi.com - Домашня сторінка</title>

    </head>


<!--</nav>-->


<div class="footer">
    <div class="view">
        <div class="text-wrapper">Про нас</div>
        <div class="div-wrapper"><div class="div">Про компанію</div></div>
    </div>
    <div class="view-2">
        <div class="text-wrapper">Тех. підтримка</div>
        <div class="frame">
            <div class="div-wrapper"><div class="div">Найпопулярніші питання</div></div>
            <div class="text-wrapper-2">+380 97 255 220</div>
            <div class="text-wrapper-2">Arrenvi@gmail.com</div>
        </div>
    </div>
    <div class="view-3">
        <div class="text-wrapper">Для бізнесу</div>
        <div class="div-wrapper"><div class="div">Зареєструвати помешкання</div></div>
    </div>
    <div class="view-4">
        <div class="text-wrapper">Ми в соц мережах:</div>
        <div class="social-icon-footer">
            <img class="img" src="/images/instagram.png" /> <img class="img" src="/images/facebook.png" />
        </div>
    </div>
    <div class="text-wrapper-3">Версія для мобільних пристроїв</div>
</div>
</nav>
