<nav th:fragment="header" class="navbar navbar-expand-lg navbar-light" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.header/header_styleguide.css" />
        <link rel="stylesheet" href="/style.header/header.css" />
        <title>Arrenvi.com - Домашня сторінка</title>
    </head>

    <div class="container-fluid" style="background-color: #275271;">
        <div class="navbar-top d-flex justify-content-between align-items-center">
            <!-- Логотип зліва -->
            <div class="frame">
                <a class="nav-link" href="/"><span> <img class="logo-component" src="/images/logo1.png" alt="Arrenvi Logo" style="max-height: 50px;"/></span></a>
            </div>

            <!-- Посилання праворуч -->
            <ul class="navbar-nav d-flex flex-row align-items-center justify-content-end" style="gap: 20px;">
                <li>
                    <a class="nav-link" href="/currencies">Валюта <span th:text="${session.currency}"></span></a>
                </li>
                <li>
                    <a class="nav-link" href="/languages">Мова <span th:text="${session.language}"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home_partners">Зареєструвати своє помешкання</a>
                </li>
                <li class="nav-item" th:if="${session.currentUser != null}">
                    <a class="nav-link" href="/user_account">Кабінет користувача</a>
                </li>
                <li class="nav-item" th:if="${session.currentUser == null}">
                    <a class="nav-link" href="/login" style="background-color: rgba(163, 193, 217, 1); border: 1px solid wheat; border-radius: 5px;">Вхід</a>
                </li>
                <li class="nav-item" th:if="${session.currentUser == null}">
                    <a class="nav-link" href="/registration" style="background-color: rgba(163, 193, 217, 1); border: 1px solid wheat; border-radius: 5px;">Реєстрація</a>
                </li>
                <li class="nav-item" th:if="${session.currentUser != null}">
                    <form action="/logout" method="get">
                        <button type="submit" class="btn btn-link nav-link" style="background-color: rgba(231, 161, 136, 1); border: 1px solid wheat; border-radius: 5px;">Вихід</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
