.navbar-top {
    display: flex;
    justify-content: space-between; /* Логотип зліва, меню праворуч */
    align-items: center;
}

.navbar-nav {
    display: flex;
    gap: 20px; /* Відстань між елементами меню */
    justify-content: flex-end; /* Вирівнювання праворуч */
    align-items: center;
}

.frame {
    display: flex;
    align-items: center;
    margin-left: 0; /* Забираємо додаткові відступи зліва */
}

.logo-component {
    max-height: 50px; /* Контроль висоти логотипа */
}



.nav-link {
    padding: 10px;
    text-decoration: none;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--roboto-button-font-family);
    font-weight: var(--roboto-button-font-weight);
    color: var(--typographywhite);
    font-size: var(--roboto-button-font-size);
    text-align: center;
    letter-spacing: var(--roboto-button-letter-spacing);
    line-height: var(--roboto-button-line-height);
    white-space: nowrap;
    font-style: var(--roboto-button-font-style);
}

.nav-link:hover {
    text-decoration: underline; /* Декорація при наведенні */
}
